* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {

    background-color: pink;
    padding: 10px 0; 
    width: 100%;

}
.titulo-site{

    margin-left: 15px;

}

.sign_button{

    margin-right: 15px;

}

.box{

    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;

}

.lado_esquerdo{
    display: flex;
    align-items: center;
    gap: 20px;

}

.lado_direito {

    margin-left: auto;

}

/*
.index_esquerdo{


}
*/

.buttons{

    height: 10px;
    width: 10px;

}

.index_meio{

    background-color: pink;

    width: 800px;
    height: 700px;
    margin: 0 auto;
    margin-top: 5%;

}

#mes_Ano{

    display: flex;
    

}


.index_direito{

    margin-left: auto;

}



#logo {
    height:100px;
    width:100px;
}

#icone_usuario {

    height:70px;
    width:70px;

}